.user-dashboard-container {
  display: flex;
  margin: 15px auto; /* ระยะห่างจากด้านบน */
    padding: 20px; /* เพิ่ม Padding ด้านใน */
    background-color: #ffffff; /* สีพื้นหลัง */
    border-radius: 10px; /* มุมโค้ง */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* เพิ่มเงา */
    max-width: 1800px; /* ความกว้างสูงสุด */
    width: 100%; /* ใช้ 100% ของหน้าจอ */
    margin-top: 30px; /* ระยะห่างจากด้านบนของแถบตัวเลือก */
}

.dashboard-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 450px;
  text-align: center;
  margin-top: 20px; /* ขยับลงมาให้สมดุล */
}
